

<center><form method="POST">
    <label for="nombre_producto">Nombre</label>
    <input type="text" id="nombre_producto" name="nombre_producto" placeholder="Nombre producto">
    <br>
    <label for="neto">Neto</label>
    <input type="text" id="neto" name="neto" placeholder="neto">
    <br>
    <label for="marca">Marca</label>
    <input type="text" id="marca" name="marca" placeholder="Marca">
    <br>
    <label for="precio">Precio</label>
    <input type="text" id="precio" name="precio" placeholder="precio">
    <br>
    <button type="submit" class="btn btn-outline-info">Insertar</button>
</form>
</center>