$def with(datos)


<center>
    <form method="POST">
    <label for="nombre_producto">Producto</label>
    <input type="text" readonly="true" value="$datos.nombre_producto" id="nombre_producto" name="nombre_producto">
    <br>
    <label for="neto">Neto</label>
    <input type="text" value="$datos.neto" id="neto" name="neto">
    <br>
    <label for="marca">Marca</label>
    <input type="text" value="$datos.marca" id="marca" name="marca">
    <br>
    <label for="precio">Precio</label>
    <input type="text" value="$datos.precio" id="precio" name="precio">
    <br>
    <button type="submit" class="btn btn-outline-info">Update</button>
</form>
</center>