

<center>
    <form method="POST">
    <label for="nombre_cliente">Nombre Cliente</label>
    <input type="text" id="nombre_cliente" name="nombre_cliente" placeholder="Nombre Cliente">
    <br>
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos_cliente" name="apellidos_cliente" placeholder="apellidos_cliente">
    <br>
    <label for="colonia">Colonia</label>
    <input type="text" id="colonia" name="colonia" placeholder="colonia">
    <br>
    <label for="calle">Calle</label>
    <input type="text" id="calle" name="calle" placeholder="calle">
    <br>
    <button type="submit" class="btn btn-outline-info">Insert</button>
</form>
</center>